@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-epilogue: 'Epilogue', sans-serif;
}

@layer base {
  @font-face {
    font-family: 'Epilogue';
    src: url('@/assets/fonts/Epilogue-Variable.woff2') format('woff2'),
      url('@/assets/fonts/Epilogue-Variable.woff') format('woff'),
      url('@/assets/fonts/Epilogue-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  *:focus-visible {
    @apply outline outline-offset-2 outline-black;
  }

  body {
    @apply font-epilogue antialiased text-black dark:text-white bg-zinc-100 dark:bg-zinc-900 min-h-svh sm:min-h-screen;
  }
}

@layer utilities {
  ::selection {
    @apply bg-black text-white;
  }

  [data-theme='dark'] ::selection {
    @apply bg-white text-black;
  }
}
